{{!--
  this is a for loop in handlebars. can loop through arrays and js objects
  this loop makes a `post-item` for-each item inside data
--}}
{{#each-in data as |key value|}}
  {{post-item click=(action 'updateModalInfo' value.data) id=key data=value}}
{{/each-in}}

{{!--
  If this is being rendered as a block, the children go here
--}}
{{yield}}

{{! only displays if there is modal information available }}
{{#if modalInfo}}
  {{#bs-modal onHidden=(action 'nullifyModalInfo') size="lg" as |modal|}}
    {{#modal.header}}
      <h3 class="modal-title">{{modalInfo.title}} <small class="text-muted">Author: <em>{{modalInfo.author}}</em></small></h3>
    {{/modal.header}}
    {{#modal.body}}
      {{! These are just here as an example of an if-else tree }}
      {{#if (is-link modalInfo.post_hint)}}
        <p class="lead">Didn't to links lul</p>
      {{else if (is-clip modalInfo.post_hint)}}
        <p class="lead">Didn't do clips lul</p>
      {{else if (is-image modalInfo.post_hint)}}
        <img class="card-img-top" src={{modalInfo.preview.images.0.source.url}} alt="Failed to load image">
      {{/if}}

      {{#if modalInfo.selftext}}
        {{markdown-to-html modalInfo.selftext}}
      {{/if}}
    {{/modal.body}}
  {{/bs-modal}}
{{/if}}
